# 구글지도 API로 주소와 지도좌표 가져오기
 
## 1. googlemaps 패키지

설치가 되어있지 않다면 아래의 코드로 설치합니다

### !pip install googlemaps

### [참고자료]
1. https://github.com/googlemaps/google-maps-services-python
2. help(googlemaps)
3. 구글 앱 활용 : https://happist.com/568746/%EA%B5%AC%EA%B8%80%EB%A7%B5-%ED%99%9C%EC%9A%A9%EB%B2%95-%EA%B5%AC%EA%B8%80%EB%A7%B5-api-key-%EB%B0%9C%EA%B8%89%EB%B0%A9%EB%B2%95

4. 구글 맵 플랫폼 바로가기 : https://mapsplatform.google.com/

In [4]:
import googlemaps

## 2. 구글maps api에서 지도 정보가져오기

In [7]:
gmaps_key = "AIzaSyCZvnX7q7qlQxNNy3wnLKHxlz2xo6sStSI" # 자신의 key를 사용합니다.
gmaps = googlemaps.Client(key=gmaps_key) #구글maps Api 웹 서비스를 요청합니다.

In [8]:
gmaps.geocode('경복궁', language='ko') #경복궁 지도 정보를 가져옵니다.

[{'address_components': [{'long_name': '１６１',
    'short_name': '１６１',
    'types': ['premise']},
   {'long_name': '사직로',
    'short_name': '사직로',
    'types': ['political', 'sublocality', 'sublocality_level_4']},
   {'long_name': '종로구',
    'short_name': '종로구',
    'types': ['political', 'sublocality', 'sublocality_level_1']},
   {'long_name': '서울특별시',
    'short_name': '서울특별시',
    'types': ['administrative_area_level_1', 'political']},
   {'long_name': '대한민국',
    'short_name': 'KR',
    'types': ['country', 'political']},
   {'long_name': '110-050',
    'short_name': '110-050',
    'types': ['postal_code']}],
  'formatted_address': '대한민국 서울특별시 종로구 사직로 161',
  'geometry': {'location': {'lat': 37.579617, 'lng': 126.977041},
   'location_type': 'ROOFTOP',
   'viewport': {'northeast': {'lat': 37.5809659802915,
     'lng': 126.9783899802915},
    'southwest': {'lat': 37.5782680197085, 'lng': 126.9756920197085}}},
  'partial_match': True,
  'place_id': 'ChIJod7tSseifDUR9hXHLFNGMIs',
  'plus_code': {'compound_code': 'HXHG+RR 대한민국 서울특별시',
   'global_code': '8Q98HXHG+RR'},
  'types': ['establishment', 'point_of_interest', 'tourist_attraction']}]

## 3. 지도정보 확인하기

In [9]:
import json

In [10]:
tmp=gmaps.geocode('경복궁', language='ko') #'서울 시청지도 정보를 가져옴'

In [52]:
obj=json.dumps(tmp, ensure_ascii=False)

In [53]:
obj

'[{"address_components": [{"long_name": "１６１", "short_name": "１６１", "types": ["premise"]}, {"long_name": "사직로", "short_name": "사직로", "types": ["political", "sublocality", "sublocality_level_4"]}, {"long_name": "종로구", "short_name": "종로구", "types": ["political", "sublocality", "sublocality_level_1"]}, {"long_name": "서울특별시", "short_name": "서울특별시", "types": ["administrative_area_level_1", "political"]}, {"long_name": "대한민국", "short_name": "KR", "types": ["country", "political"]}, {"long_name": "110-050", "short_name": "110-050", "types": ["postal_code"]}], "formatted_address": "대한민국 서울특별시 종로구 사직로 161", "geometry": {"location": {"lat": 37.579617, "lng": 126.977041}, "location_type": "ROOFTOP", "viewport": {"northeast": {"lat": 37.5809659802915, "lng": 126.9783899802915}, "southwest": {"lat": 37.5782680197085, "lng": 126.9756920197085}}}, "partial_match": true, "place_id": "ChIJod7tSseifDUR9hXHLFNGMIs", "plus_code": {"compound_code": "HXHG+RR 대한민국 서울특별시", "global_code": "8Q98HXHG+RR"}, "types": ["establishment", "point_of_interest", "tourist_attraction"]}]'

In [19]:
obj = json.dumps(tmp, ensure_ascii=False) #json으로 변환 후 json viewer로 자료 확인 (http://jsonviewer.stack.hu/)

In [13]:
obj

'[{"address_components": [{"long_name": "１６１", "short_name": "１６１", "types": ["premise"]}, {"long_name": "사직로", "short_name": "사직로", "types": ["political", "sublocality", "sublocality_level_4"]}, {"long_name": "종로구", "short_name": "종로구", "types": ["political", "sublocality", "sublocality_level_1"]}, {"long_name": "서울특별시", "short_name": "서울특별시", "types": ["administrative_area_level_1", "political"]}, {"long_name": "대한민국", "short_name": "KR", "types": ["country", "political"]}, {"long_name": "110-050", "short_name": "110-050", "types": ["postal_code"]}], "formatted_address": "대한민국 서울특별시 종로구 사직로 161", "geometry": {"location": {"lat": 37.579617, "lng": 126.977041}, "location_type": "ROOFTOP", "viewport": {"northeast": {"lat": 37.5809659802915, "lng": 126.9783899802915}, "southwest": {"lat": 37.5782680197085, "lng": 126.9756920197085}}}, "partial_match": true, "place_id": "ChIJod7tSseifDUR9hXHLFNGMIs", "plus_code": {"compound_code": "HXHG+RR 대한민국 서울특별시", "global_code": "8Q98HXHG+RR"}, "types": ["establishment", "point_of_interest", "tourist_attraction"]}]'

## 4. 주소, 위도, 경도의 값만 파싱합니다.
### 1) 주소 가져오기

In [55]:
tmp[0]['formatted_address']

'대한민국 서울특별시 종로구 사직로 161'

In [56]:
tmp[0]['geometry']['location']['lat']

37.579617

In [25]:
tmp[0].keys()

dict_keys(['address_components', 'formatted_address', 'geometry', 'partial_match', 'place_id', 'plus_code', 'types'])

In [34]:
tmp[0]['formatted_address']

'대한민국 서울특별시 종로구 사직로 161'

In [46]:
addr=tmp[0]['formatted_address']

In [48]:
lat=tmp[0]['geometry']['location']['lat']
lng=tmp[0]['geometry']['location']['lng']

In [49]:
print('경복궁 주소 => ',addr, '위도:', lat, '경도:',lng)

경복궁 주소 =>  대한민국 서울특별시 종로구 사직로 161 위도: 37.579617 경도: 126.977041

### 2) 'geometry'에서 'lat','lng' 값 가져오기

In [44]:
lat=tmp[0]['geometry']['location']['lat'] #lat 가져오기
lat

37.579617

In [45]:
lng=tmp[0]['geometry']['location']['lng'] #lng 가져오기
lng

126.977041

### 3) 주소, 위도, 경도 표시하기

In [46]:
#주소(addr), 위도(lat), 경도(lng)를 각각의 변수에 저장합니다.
#주소(addr), 위도(lat), 경도(lng)를 각각의 변수에 저장합니다.
print('▶ 경복궁 주소: '+addr+', [지도좌표] '+ str(lat)+','+str(lng))

▶ 경복궁 주소: 대한민국 서울특별시, [지도좌표] 37.579617,126.977041

In [58]:
import pandas as pd

In [65]:
df=pd.read_csv('../교재data/DataScience-master/data/02. crime_in_Seoul.csv',thousands=',', encoding='cp949')

In [66]:
df.head()

    관서명  살인 발생  살인 검거  강도 발생  강도 검거  강간 발생  강간 검거  절도 발생  절도 검거  폭력 발생  폭력 검거
0   중부서      2      2      3      2    105     65   1395    477   1355   1170
1   종로서      3      3      6      5    115     98   1070    413   1278   1070
2  남대문서      1      0      6      4     65     46   1153    382    869    794
3  서대문서      2      2      5      4    154    124   1812    738   2056   1711
4   혜화서      3      2      5      4     96     63   1114    424   1015    861

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   관서명     31 non-null     object
 1   살인 발생   31 non-null     int64
 2   살인 검거   31 non-null     int64
 3   강도 발생   31 non-null     int64
 4   강도 검거   31 non-null     int64
 5   강간 발생   31 non-null     int64
 6   강간 검거   31 non-null     int64
 7   절도 발생   31 non-null     int64
 8   절도 검거   31 non-null     int64
 9   폭력 발생   31 non-null     int64
 10  폭력 검거   31 non-null     int64
dtypes: int64(10), object(1)
memory usage: 2.8+ KB

In [74]:
station_name='서울'+df['관서명'].str[:-1]+'경찰서'

In [79]:
station_addr=[]
station_lat=[]
station_lng=[]

for name in station_name:
    tmp=gmaps.geocode(name, language='ko')
    station_addr.append(tmp[0]['formatted_address'])
    station_lat.append(tmp[0]['geometry']['location']['lat'])
    station_lng.append(tmp[0]['geometry']['location']['lng'])

In [84]:
df['구별']=[i.split()[2] for i in station_addr]

In [85]:
df.head()

,관서명,살인 발생,살인 검거,강도 발생,강도 검거,강간 발생,강간 검거,절도 발생,절도 검거,폭력 발생,폭력 검거,구별
0,중부서,2,2,3,2,105,65,1395,477,1355,1170,중구
1,종로서,3,3,6,5,115,98,1070,413,1278,1070,종로구
2,남대문서,1,0,6,4,65,46,1153,382,869,794,중구
3,서대문서,2,2,5,4,154,124,1812,738,2056,1711,서대문구
4,혜화서,3,2,5,4,96,63,1114,424,1015,861,종로구

In [88]:
df[df['관서명'].str.contains('금천')]

,관서명,살인 발생,살인 검거,강도 발생,강도 검거,강간 발생,강간 검거,절도 발생,절도 검거,폭력 발생,폭력 검거,구별
15,금천서,3,4,6,6,151,122,1567,888,2054,1776,금천구

In [89]:
df[df['구별']=='강남구']

,관서명,살인 발생,살인 검거,강도 발생,강도 검거,강간 발생,강간 검거,절도 발생,절도 검거,폭력 발생,폭력 검거,구별
17,강남서,3,3,15,12,300,225,2411,984,2465,2146,강남구
30,수서서,10,7,6,6,149,124,1439,666,1819,1559,강남구

In [90]:
df.set_index('구별')

,관서명,살인 발생,살인 검거,강도 발생,강도 검거,강간 발생,강간 검거,절도 발생,절도 검거,폭력 발생,폭력 검거
구별,,,,,,,,,,,
중구,중부서,2,2,3,2,105,65,1395,477,1355,1170
종로구,종로서,3,3,6,5,115,98,1070,413,1278,1070
중구,남대문서,1,0,6,4,65,46,1153,382,869,794
서대문구,서대문서,2,2,5,4,154,124,1812,738,2056,1711
종로구,혜화서,3,2,5,4,96,63,1114,424,1015,861
용산구,용산서,5,5,14,14,194,173,1557,587,2050,1704
성북구,성북서,2,2,2,1,86,71,953,409,1194,1015
동대문구,동대문서,5,5,13,13,173,146,1981,814,2548,2227
마포구,마포서,8,8,14,10,294,247,2555,813,2983,2519
영등포구,영등포서,14,12,22,20,295,183,2964,978,3572,2961
성동구,성동서,4,4,9,8,126,119,1607,597,1612,1395
동작구,동작서,5,5,9,5,285,139,1865,661,1910,1587
광진구,광진서,4,4,14,26,240,220,3026,1277,2625,2180
은평구,서부서,2,2,2,1,70,59,819,293,1192,1038
강북구,강북서,7,8,14,13,153,126,1434,618,2649,2348
금천구,금천서,3,4,6,6,151,122,1567,888,2054,1776
중랑구,중랑서,13,12,11,9,187,148,2135,829,2847,2407
강남구,강남서,3,3,15,12,300,225,2411,984,2465,2146
관악구,관악서,9,8,12,14,320,221,2706,827,3298,2642
강서구,강서서,7,8,13,13,262,191,2096,1260,3207,2718
강동구,강동서,4,3,6,8,156,123,2366,789,2712,2248
성북구,종암서,3,3,3,3,64,53,832,332,1015,840
구로구,구로서,8,6,15,11,281,164,2335,889,3007,2432
서초구,서초서,7,4,8,5,334,193,1982,905,1852,1607
양천구,양천서,3,5,6,3,120,105,1890,672,2509,2030
송파구,송파서,11,10,13,10,220,178,3239,1129,3295,2786
노원구,노원서,10,10,7,7,197,121,2193,801,2723,2329
서초구,방배서,1,2,1,1,59,56,653,186,547,491
은평구,은평서,1,1,7,5,96,82,1095,418,1461,1268
도봉구,도봉서,3,3,9,10,102,106,1063,478,1487,1303
강남구,수서서,10,7,6,6,149,124,1439,666,1819,1559

In [111]:
df.set_index('구별')

,관서명,살인 발생,살인 검거,강도 발생,강도 검거,강간 발생,강간 검거,절도 발생,절도 검거,폭력 발생,폭력 검거
구별,,,,,,,,,,,
중구,중부서,2,2,3,2,105,65,1395,477,1355,1170
종로구,종로서,3,3,6,5,115,98,1070,413,1278,1070
중구,남대문서,1,0,6,4,65,46,1153,382,869,794
서대문구,서대문서,2,2,5,4,154,124,1812,738,2056,1711
종로구,혜화서,3,2,5,4,96,63,1114,424,1015,861
용산구,용산서,5,5,14,14,194,173,1557,587,2050,1704
성북구,성북서,2,2,2,1,86,71,953,409,1194,1015
동대문구,동대문서,5,5,13,13,173,146,1981,814,2548,2227
마포구,마포서,8,8,14,10,294,247,2555,813,2983,2519
영등포구,영등포서,14,12,22,20,295,183,2964,978,3572,2961
성동구,성동서,4,4,9,8,126,119,1607,597,1612,1395
동작구,동작서,5,5,9,5,285,139,1865,661,1910,1587
광진구,광진서,4,4,14,26,240,220,3026,1277,2625,2180
은평구,서부서,2,2,2,1,70,59,819,293,1192,1038
강북구,강북서,7,8,14,13,153,126,1434,618,2649,2348
금천구,금천서,3,4,6,6,151,122,1567,888,2054,1776
중랑구,중랑서,13,12,11,9,187,148,2135,829,2847,2407
강남구,강남서,3,3,15,12,300,225,2411,984,2465,2146
관악구,관악서,9,8,12,14,320,221,2706,827,3298,2642
강서구,강서서,7,8,13,13,262,191,2096,1260,3207,2718
강동구,강동서,4,3,6,8,156,123,2366,789,2712,2248
성북구,종암서,3,3,3,3,64,53,832,332,1015,840
구로구,구로서,8,6,15,11,281,164,2335,889,3007,2432
서초구,서초서,7,4,8,5,334,193,1982,905,1852,1607
양천구,양천서,3,5,6,3,120,105,1890,672,2509,2030
송파구,송파서,11,10,13,10,220,178,3239,1129,3295,2786
노원구,노원서,10,10,7,7,197,121,2193,801,2723,2329
서초구,방배서,1,2,1,1,59,56,653,186,547,491
은평구,은평서,1,1,7,5,96,82,1095,418,1461,1268
도봉구,도봉서,3,3,9,10,102,106,1063,478,1487,1303
강남구,수서서,10,7,6,6,149,124,1439,666,1819,1559

In [108]:
df.groupby('구별').sum()

      살인 발생  살인 검거  강도 발생  강도 검거  강간 발생  강간 검거  절도 발생  절도 검거  폭력 발생  폭력 검거
구별
강남구      13     10     21     18    449    349   3850   1650   4284   3705
강동구       4      3      6      8    156    123   2366    789   2712   2248
강북구       7      8     14     13    153    126   1434    618   2649   2348
강서구       7      8     13     13    262    191   2096   1260   3207   2718
관악구       9      8     12     14    320    221   2706    827   3298   2642
광진구       4      4     14     26    240    220   3026   1277   2625   2180
구로구       8      6     15     11    281    164   2335    889   3007   2432
금천구       3      4      6      6    151    122   1567    888   2054   1776
노원구      10     10      7      7    197    121   2193    801   2723   2329
도봉구       3      3      9     10    102    106   1063    478   1487   1303
동대문구      5      5     13     13    173    146   1981    814   2548   2227
동작구       5      5      9      5    285    139   1865    661   1910   1587
마포구       8      8     14     10    294    247   2555    813   2983   2519
서대문구      2      2      5      4    154    124   1812    738   2056   1711
서초구       8      6      9      6    393    249   2635   1091   2399   2098
성동구       4      4      9      8    126    119   1607    597   1612   1395
성북구       5      5      5      4    150    124   1785    741   2209   1855
송파구      11     10     13     10    220    178   3239   1129   3295   2786
양천구       3      5      6      3    120    105   1890    672   2509   2030
영등포구     14     12     22     20    295    183   2964    978   3572   2961
용산구       5      5     14     14    194    173   1557    587   2050   1704
은평구       3      3      9      6    166    141   1914    711   2653   2306
종로구       6      5     11      9    211    161   2184    837   2293   1931
중구        3      2      9      6    170    111   2548    859   2224   1964
중랑구      13     12     11      9    187    148   2135    829   2847   2407

In [91]:
data = {
    "도시": ["서울", "서울", "서울", "부산", "부산", "부산", "인천", "인천"],
    "연도": ["2015", "2010", "2005", "2015", "2010", "2005", "2015", "2010"],
    "인구": [9904312, 9631482, 9762546, 3448737, 3393191, 3512547, 2890451, 263203],
    "지역": ["수도권", "수도권", "수도권", "경상권", "경상권", "경상권", "수도권", "수도권"]
}
columns = ["도시", "연도", "인구", "지역"]
df1 = pd.DataFrame(data, columns=columns)
df1

   도시    연도       인구   지역
0  서울  2015  9904312  수도권
1  서울  2010  9631482  수도권
2  서울  2005  9762546  수도권
3  부산  2015  3448737  경상권
4  부산  2010  3393191  경상권
5  부산  2005  3512547  경상권
6  인천  2015  2890451  수도권
7  인천  2010   263203  수도권

In [97]:
 df1.set_index(['도시','연도'])[['인구']].unstack(1)

           인구
연도       2005       2010       2015
도시
부산  3512547.0  3393191.0  3448737.0
서울  9762546.0  9631482.0  9904312.0
인천        NaN   263203.0  2890451.0

In [104]:
df1.groupby(['도시','연도']).sum().unstack(1)

           인구
연도       2005       2010       2015
도시
부산  3512547.0  3393191.0  3448737.0
서울  9762546.0  9631482.0  9904312.0
인천        NaN   263203.0  2890451.0

In [106]:
df1.pivot('도시','연도','인구')

연도       2005       2010       2015
도시
부산  3512547.0  3393191.0  3448737.0
서울  9762546.0  9631482.0  9904312.0
인천        NaN   263203.0  2890451.0

In [112]:
df1

   도시    연도       인구   지역
0  서울  2015  9904312  수도권
1  서울  2010  9631482  수도권
2  서울  2005  9762546  수도권
3  부산  2015  3448737  경상권
4  부산  2010  3393191  경상권
5  부산  2005  3512547  경상권
6  인천  2015  2890451  수도권
7  인천  2010   263203  수도권

In [117]:
import numpy as np

In [119]:
pd.pivot_table(df,index='구별', aggfunc='sum')

      강간 검거  강간 발생  강도 검거  강도 발생  살인 검거  살인 발생  절도 검거  절도 발생  폭력 검거  폭력 발생
구별
강남구     349    449     18     21     10     13   1650   3850   3705   4284
강동구     123    156      8      6      3      4    789   2366   2248   2712
강북구     126    153     13     14      8      7    618   1434   2348   2649
강서구     191    262     13     13      8      7   1260   2096   2718   3207
관악구     221    320     14     12      8      9    827   2706   2642   3298
광진구     220    240     26     14      4      4   1277   3026   2180   2625
구로구     164    281     11     15      6      8    889   2335   2432   3007
금천구     122    151      6      6      4      3    888   1567   1776   2054
노원구     121    197      7      7     10     10    801   2193   2329   2723
도봉구     106    102     10      9      3      3    478   1063   1303   1487
동대문구    146    173     13     13      5      5    814   1981   2227   2548
동작구     139    285      5      9      5      5    661   1865   1587   1910
마포구     247    294     10     14      8      8    813   2555   2519   2983
서대문구    124    154      4      5      2      2    738   1812   1711   2056
서초구     249    393      6      9      6      8   1091   2635   2098   2399
성동구     119    126      8      9      4      4    597   1607   1395   1612
성북구     124    150      4      5      5      5    741   1785   1855   2209
송파구     178    220     10     13     10     11   1129   3239   2786   3295
양천구     105    120      3      6      5      3    672   1890   2030   2509
영등포구    183    295     20     22     12     14    978   2964   2961   3572
용산구     173    194     14     14      5      5    587   1557   1704   2050
은평구     141    166      6      9      3      3    711   1914   2306   2653
종로구     161    211      9     11      5      6    837   2184   1931   2293
중구      111    170      6      9      2      3    859   2548   1964   2224
중랑구     148    187      9     11     12     13    829   2135   2407   2847

In [121]:
df.head()

,관서명,살인 발생,살인 검거,강도 발생,강도 검거,강간 발생,강간 검거,절도 발생,절도 검거,폭력 발생,폭력 검거,구별
0,중부서,2,2,3,2,105,65,1395,477,1355,1170,중구
1,종로서,3,3,6,5,115,98,1070,413,1278,1070,종로구
2,남대문서,1,0,6,4,65,46,1153,382,869,794,중구
3,서대문서,2,2,5,4,154,124,1812,738,2056,1711,서대문구
4,혜화서,3,2,5,4,96,63,1114,424,1015,861,종로구

In [160]:
df0=df.groupby('구별').sum()

In [161]:
df0.head()

     살인 발생  살인 검거  강도 발생  강도 검거  강간 발생  강간 검거  절도 발생  절도 검거  폭력 발생  폭력 검거
구별
강남구     13     10     21     18    449    349   3850   1650   4284   3705
강동구      4      3      6      8    156    123   2366    789   2712   2248
강북구      7      8     14     13    153    126   1434    618   2649   2348
강서구      7      8     13     13    262    191   2096   1260   3207   2718
관악구      9      8     12     14    320    221   2706    827   3298   2642

In [162]:
names=[i[:2] for i in df0.columns]

In [163]:
df0.head()

     살인 발생  살인 검거  강도 발생  강도 검거  강간 발생  강간 검거  절도 발생  절도 검거  폭력 발생  폭력 검거
구별
강남구     13     10     21     18    449    349   3850   1650   4284   3705
강동구      4      3      6      8    156    123   2366    789   2712   2248
강북구      7      8     14     13    153    126   1434    618   2649   2348
강서구      7      8     13     13    262    191   2096   1260   3207   2718
관악구      9      8     12     14    320    221   2706    827   3298   2642

In [164]:

for i in range(0,len(df0.columns),2):
    name=df0.columns[i][:2]+'검거율'
    tmp=df0.iloc[:,i+1]/df0.iloc[:,i]*100
    df0[name]=tmp

In [147]:
df0

,살인 발생,살인 검거,강도 발생,강도 검거,강간 발생,강간 검거,절도 발생,절도 검거,폭력 발생,폭력 검거,살인검거율,강도검거율,강간검거율,절도검거율,폭력검거율
구별,,,,,,,,,,,,,,,
강남구,13,10,21,18,449,349,3850,1650,4284,3705,76.923077,85.714286,77.728285,42.857143,86.484594
강동구,4,3,6,8,156,123,2366,789,2712,2248,75.000000,133.333333,78.846154,33.347422,82.890855
강북구,7,8,14,13,153,126,1434,618,2649,2348,114.285714,92.857143,82.352941,43.096234,88.637222
강서구,7,8,13,13,262,191,2096,1260,3207,2718,114.285714,100.000000,72.900763,60.114504,84.752105
관악구,9,8,12,14,320,221,2706,827,3298,2642,88.888889,116.666667,69.062500,30.561715,80.109157
광진구,4,4,14,26,240,220,3026,1277,2625,2180,100.000000,185.714286,91.666667,42.200925,83.047619
구로구,8,6,15,11,281,164,2335,889,3007,2432,75.000000,73.333333,58.362989,38.072805,80.877951
금천구,3,4,6,6,151,122,1567,888,2054,1776,133.333333,100.000000,80.794702,56.668794,86.465433
노원구,10,10,7,7,197,121,2193,801,2723,2329,100.000000,100.000000,61.421320,36.525308,85.530665
도봉구,3,3,9,10,102,106,1063,478,1487,1303,100.000000,111.111111,103.921569,44.967074,87.626093
동대문구,5,5,13,13,173,146,1981,814,2548,2227,100.000000,100.000000,84.393064,41.090358,87.401884
동작구,5,5,9,5,285,139,1865,661,1910,1587,100.000000,55.555556,48.771930,35.442359,83.089005
마포구,8,8,14,10,294,247,2555,813,2983,2519,100.000000,71.428571,84.013605,31.819961,84.445189
서대문구,2,2,5,4,154,124,1812,738,2056,1711,100.000000,80.000000,80.519481,40.728477,83.219844
서초구,8,6,9,6,393,249,2635,1091,2399,2098,75.000000,66.666667,63.358779,41.404175,87.453105
성동구,4,4,9,8,126,119,1607,597,1612,1395,100.000000,88.888889,94.444444,37.149969,86.538462
성북구,5,5,5,4,150,124,1785,741,2209,1855,100.000000,80.000000,82.666667,41.512605,83.974649
송파구,11,10,13,10,220,178,3239,1129,3295,2786,90.909091,76.923077,80.909091,34.856437,84.552352
양천구,3,5,6,3,120,105,1890,672,2509,2030,166.666667,50.000000,87.500000,35.555556,80.908729
영등포구,14,12,22,20,295,183,2964,978,3572,2961,85.714286,90.909091,62.033898,32.995951,82.894737
용산구,5,5,14,14,194,173,1557,587,2050,1704,100.000000,100.000000,89.175258,37.700706,83.121951
은평구,3,3,9,6,166,141,1914,711,2653,2306,100.000000,66.666667,84.939759,37.147335,86.920467
종로구,6,5,11,9,211,161,2184,837,2293,1931,83.333333,81.818182,76.303318,38.324176,84.212822
중구,3,2,9,6,170,111,2548,859,2224,1964,66.666667,66.666667,65.294118,33.712716,88.309353
중랑구,13,12,11,9,187,148,2135,829,2847,2407,92.307692,81.818182,79.144385,38.829040,84.545135

In [165]:
df0.columns

Index(['살인 발생', '살인 검거', '강도 발생', '강도 검거', '강간 발생', '강간 검거', '절도 발생', '절도 검거',
       '폭력 발생', '폭력 검거', '살인검거율', '강도검거율', '강간검거율', '절도검거율', '폭력검거율'],
      dtype='object')

In [167]:
df0=df0[['살인 발생', '강도 발생',  '강간 발생', '절도 발생', '폭력 발생', '폭력 검거', '살인검거율', '강도검거율', '강간검거율', '절도검거율', '폭력검거율']]

In [172]:
df0.columns=['살인', '강도', '강간', '절도', '폭력', '폭력 검거', '살인검거율', '강도검거율',
       '강간검거율', '절도검거율', '폭력검거율']

In [173]:
df0.head()

,살인,강도,강간,절도,폭력,폭력 검거,살인검거율,강도검거율,강간검거율,절도검거율,폭력검거율
구별,,,,,,,,,,,
강남구,13,21,449,3850,4284,3705,76.923077,85.714286,77.728285,42.857143,86.484594
강동구,4,6,156,2366,2712,2248,75.000000,133.333333,78.846154,33.347422,82.890855
강북구,7,14,153,1434,2649,2348,114.285714,92.857143,82.352941,43.096234,88.637222
강서구,7,13,262,2096,3207,2718,114.285714,100.000000,72.900763,60.114504,84.752105
관악구,9,12,320,2706,3298,2642,88.888889,116.666667,69.062500,30.561715,80.109157

In [158]:
df0.columns=['강간', '강도', '살인', '절도', '폭력']

In [157]:
[i[:2] for i in df0.columns]

['강간', '강도', '살인', '절도', '폭력']

In [159]:
df0.head()

            강간          강도          살인         절도         폭력
구별
강남구  77.728285   85.714286   76.923077  42.857143  86.484594
강동구  78.846154  133.333333   75.000000  33.347422  82.890855
강북구  82.352941   92.857143  114.285714  43.096234  88.637222
강서구  72.900763  100.000000  114.285714  60.114504  84.752105
관악구  69.062500  116.666667   88.888889  30.561715  80.109157

In [174]:
df0.head()

,살인,강도,강간,절도,폭력,폭력 검거,살인검거율,강도검거율,강간검거율,절도검거율,폭력검거율
구별,,,,,,,,,,,
강남구,13,21,449,3850,4284,3705,76.923077,85.714286,77.728285,42.857143,86.484594
강동구,4,6,156,2366,2712,2248,75.000000,133.333333,78.846154,33.347422,82.890855
강북구,7,14,153,1434,2649,2348,114.285714,92.857143,82.352941,43.096234,88.637222
강서구,7,13,262,2096,3207,2718,114.285714,100.000000,72.900763,60.114504,84.752105
관악구,9,12,320,2706,3298,2642,88.888889,116.666667,69.062500,30.561715,80.109157

In [175]:
pwd

'D:\\py\\_한경닷컴\\수업자료\\02 구글API'

In [176]:
resul_CCTV=pd.read_csv('../교재data/DataScience-master/data/01. CCTV_result.csv')

In [177]:
resul_CCTV.head()

,구별,소계,최근증가율,인구수,한국인,외국인,고령자,외국인비율,고령자비율,CCTV비율,오차
0,강남구,2780,150.619195,570500.0,565550.0,4950.0,63167.0,0.867660,11.072217,0.487292,1388.055355
1,강동구,773,166.490765,453233.0,449019.0,4214.0,54622.0,0.929765,12.051638,0.170552,465.422892
2,강북구,748,125.203252,330192.0,326686.0,3506.0,54813.0,1.061806,16.600342,0.226535,329.342026
3,강서구,884,134.793814,603772.0,597248.0,6524.0,72548.0,1.080540,12.015794,0.146413,551.503155
4,관악구,1496,149.290780,525515.0,507203.0,18312.0,68082.0,3.484582,12.955291,0.284673,162.948104

In [180]:
df0=pd.merge(df0, resul_CCTV[['구별','인구수','소계']], on='구별', how='left')

In [182]:
df0.columns=['구별', '살인', '강도', '강간', '절도', '폭력', '폭력 검거', '살인검거율', '강도검거율', '강간검거율',
       '절도검거율', '폭력검거율', '인구수', 'CCTV']

In [183]:
df0.head()

,구별,살인,강도,강간,절도,폭력,폭력 검거,살인검거율,강도검거율,강간검거율,절도검거율,폭력검거율,인구수,CCTV
0,강남구,13,21,449,3850,4284,3705,76.923077,85.714286,77.728285,42.857143,86.484594,570500.0,2780
1,강동구,4,6,156,2366,2712,2248,75.000000,133.333333,78.846154,33.347422,82.890855,453233.0,773
2,강북구,7,14,153,1434,2649,2348,114.285714,92.857143,82.352941,43.096234,88.637222,330192.0,748
3,강서구,7,13,262,2096,3207,2718,114.285714,100.000000,72.900763,60.114504,84.752105,603772.0,884
4,관악구,9,12,320,2706,3298,2642,88.888889,116.666667,69.062500,30.561715,80.109157,525515.0,1496

In [243]:
def minmax(x):
    max_=max(x)
    min_=min(x)
    res=(x-min_)/(max_-min_)
    return res

In [248]:
df0['강간'].map(minmax)

TypeError: 'int' object is not iterable

In [241]:
df0[['강간','강도','살인','절도']].apply(minmax)

          강간        강도        살인        절도
0   1.000000  0.941176  0.916667  1.000000
1   0.155620  0.058824  0.166667  0.467528
2   0.146974  0.529412  0.416667  0.133118
3   0.461095  0.470588  0.416667  0.370649
4   0.628242  0.411765  0.583333  0.589523
5   0.397695  0.529412  0.166667  0.704342
6   0.515850  0.588235  0.500000  0.456405
7   0.141210  0.058824  0.083333  0.180840
8   0.273775  0.117647  0.666667  0.405454
9   0.000000  0.235294  0.083333  0.000000
10  0.204611  0.470588  0.250000  0.329386
11  0.527378  0.235294  0.250000  0.287765
12  0.553314  0.529412  0.500000  0.535343
13  0.149856  0.000000  0.000000  0.268748
14  0.838617  0.235294  0.500000  0.564047
15  0.069164  0.235294  0.166667  0.195192
16  0.138329  0.000000  0.250000  0.259060
17  0.340058  0.470588  0.750000  0.780768
18  0.051873  0.058824  0.083333  0.296735
19  0.556196  1.000000  1.000000  0.682095
20  0.265130  0.529412  0.250000  0.177252
21  0.184438  0.235294  0.083333  0.305346
22  0.314121  0.352941  0.333333  0.402225
23  0.195965  0.235294  0.083333  0.532831
24  0.244957  0.352941  0.916667  0.384643

In [251]:
def abc(x):
    print(type(x))
    print(x)

df0[['강간']].apply(abc)

<class 'pandas.core.series.Series'>
0     449
1     156
2     153
3     262
4     320
5     240
6     281
7     151
8     197
9     102
10    173
11    285
12    294
13    154
14    393
15    126
16    150
17    220
18    120
19    295
20    194
21    166
22    211
23    170
24    187
Name: 강간, dtype: int64

강간    None
dtype: object