In [1]:
# https://wikidocs.net/book/922
# 01.파이썬 시작하기
print('Hello World')

Hello World

In [2]:
print("Mary's cosmetics")

Mary's cosmetics

In [3]:
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [5]:
print('C:\Windows')

C:\Windows

In [7]:
print("안녕하세요.\n만나서\t\t반갑습니다.")
# \n new line
# \t tab

안녕하세요.
만나서		반갑습니다.

In [8]:
print("오늘은", "일요일")

오늘은 일요일

In [9]:
print('naver','kakao','sk','samsung', sep=';')

naver;kakao;sk;samsung

In [10]:
print('naver','kakao','sk','samsung', sep='/')

naver/kakao/sk/samsung

In [11]:
print("first", end=' '); print("second")

first second

In [12]:
print(5/3)

1.6666666666666667

In [13]:
# 02.파이썬 변수
삼성전자 = 50000
print("총 평가금액:", 삼성전자*10)

총 평가금액: 500000

In [14]:
시가총액 = '298조'
현재가 = '50000원'
PER = 15.79

In [15]:
s = 'hello'
t = 'python'

print(s + '! ' + t)

hello! python

In [16]:
print(2+2*3)

8

In [17]:
a = '132'
print(type(a))

<class 'str'>

In [19]:
num_str = "720"
num = int(num_str)
print(type(num))

<class 'int'>

In [20]:
num = 100
str = str(num)
print(type(str))

<class 'str'>

In [21]:
str = "15.79"
f = float(str)
print(type(f))

<class 'float'>

In [23]:
year = "2020"
year = int(year)
print("최근 3년의 연도:", year-1, year-2, year-3)

최근 3년의 연도: 2019 2018 2017

In [24]:
month_money = 48584
month = 36
print('총 금액:', month_money * month)

총 금액: 1749024

In [25]:
# 04.파이썬 리스트
movie_rank = ['닥터 스트레인지', '스플릿', '럭키']
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키']

In [26]:
movie_rank.append('배트맨')
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [27]:
movie_rank.insert(1, '슈퍼맨')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [28]:
movie_rank.remove('럭키')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [29]:
movie_rank.remove('스플릿')
movie_rank.remove('배트맨')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [30]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs = lang1 + lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [32]:
nums = [1, 2, 3, 4, 5, 6, 7]
print('max:', max(nums))
print('min:', min(nums))

max: 7
min: 1

In [33]:
nums = [1, 2, 3, 4, 5]
print(sum(nums))

15

In [34]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

In [35]:
nums = [1, 2, 3, 4, 5]
print(sum(nums)/len(nums))

3.0

In [36]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

In [39]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[0::2])

[1, 3, 5, 7, 9]

In [40]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])

[2, 4, 6, 8, 10]

In [46]:
nums = [1, 2, 3, 4, 5]
print(nums[-1::-1])

[5, 4, 3, 2, 1]

In [47]:
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[2])

삼성전자 Naver

In [51]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(' '.join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [53]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print('/'.join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [54]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print('\n'.join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [55]:
string = "삼성전자/LG전자/Naver"
interest = string.split('/')
print(interest)

['삼성전자', 'LG전자', 'Naver']

In [63]:
data = [2, 4, 3, 1, 5, 10, 9]
print(data)
data.sort()
print(data)

# 이거 안됨
print(data.sort())

[2, 4, 3, 1, 5, 10, 9]
[1, 2, 3, 4, 5, 9, 10]
None

In [69]:
# 05.파이썬 튜플
my_variable = ()
print(type(my_variable))

<class 'tuple'>

In [70]:
movie_rank = ('닥터 스트레인지', '스플릿', '럭키')
print(movie_rank)

('닥터 스트레인지', '스플릿', '럭키')

In [71]:
a = (1,)
print(a)

(1,)

In [74]:
t = (1, 2, 3)
t[0] = 'a'
# 튜플은 추가,수정,삭제를 지원하지 않는다, 리스트는 가능

TypeError: 'tuple' object does not support item assignment

In [75]:
t = 1, 2, 3, 4
print(type(t))
# 괄호를 생략하고 튜플 정의 가능

<class 'tuple'>

In [76]:
t = ('a', 'b', 'c')
print(t)
t = ('A', 'b', 'c')
print(t)

('a', 'b', 'c')
('A', 'b', 'c')

In [77]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')
a = list(interest)
print(a)
print(type(a))

['삼성전자', 'LG전자', 'SK Hynix']
<class 'list'>

In [78]:
interest = ['삼성전자', 'LG전자', 'SK Hynix']
a = tuple(interest)
print(a)
print(type(a))

('삼성전자', 'LG전자', 'SK Hynix')
<class 'tuple'>

In [79]:
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [80]:
a = tuple(range(2,99,2))
print(a)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

In [84]:
# 06.파이썬 딕셔너리
a, b, *c = (0, 1, 2, 3, 4, 5)
print(a)
print(b)
print(c)
print()

0
1
[2, 3, 4, 5]

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]
7.8
9.4

In [85]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*a, b, c = scores
print(a)
print(b)
print(c)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]
7.8
9.4

In [86]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, *b, c = scores
print(a)
print(b)
print(c)

8.8
[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]
9.4

In [87]:
temp = {}
print(type(temp))

<class 'dict'>

In [88]:
ice_cream = {'메로나': 1000,
            '폴라포': 1200,
            '빵빠레': 1800}
print(ice_cream)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [89]:
ice_cream['죠스바'] = 1200
ice_cream['월드콘'] = 1500
print(ice_cream)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [91]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
print('메로나 가격:', ice['메로나'])

메로나 가격: 1000

In [92]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
ice['메로나'] = 1300
print(ice)

{'메로나': 1300, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [93]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
del(ice['메로나'])
print(ice)

{'폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [94]:
icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream['누가바']
# 존재하지 않는 키값을 지정

KeyError: '누가바'

In [96]:
inventory = {'메로나': [300, 20],
            '비비빅': [400, 3],
            '죠스바': [250, 100]}
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [98]:
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
print(inventory['메로나'][0], '원')

300 원

In [99]:
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
print(inventory['메로나'][1], '개')

20 개

In [100]:
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
inventory['월드콘'] = [500, 7]
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [103]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
a = list(icecream.keys())
print(a)

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [105]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
a = list(icecream.values())
print(a)

[1200, 1200, 1800, 1500, 1000]

In [106]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
a = list(icecream.values())
print(sum(a))

6700

In [107]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}
icecream.update(new_product)
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [108]:
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
result = {}

result = dict(zip(keys, vals))
print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

In [109]:
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]
close_table = dict(zip(date, close_price))
print(close_table)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}