In [1]:
print('안녕하세요')
print('안녕하세요')
print('안녕하세요')

안녕하세요
안녕하세요
안녕하세요

In [8]:
for i in range(3):
    print(i, '안녕하세요')

print()
print(f'{i+1}번하고 빠져나왔다.')

# for문 선언인데 i 전역변수 취급이야? 
# 파이썬에서는 전역변수 취급이 맞는듯
'''
for(int i=0; i<3; i++) {
    print('hello');
}
system.out.println(i); // 에러
'''

print()
for i in 'abc':
    print(i, '반갑습니다.')

0 안녕하세요
1 안녕하세요
2 안녕하세요

3번하고 빠져나왔다.

a 반갑습니다.
b 반갑습니다.
c 반갑습니다.

In [12]:
a = ['a', 'b', 'c']

for i in a:
    print(i)
    break
print()
    
for i in a:
    print(i, end=' ')

a

a b c

In [17]:
a = ['aaa', 'bbb', 'ccc']

for i in a:
    print(i)

aaa
bbb
ccc

In [16]:
a = ['aaa', 'bbb', 'ccc']
cnt = len(a)

for i in range(cnt):
    print(i, a[i])

0 aaa
1 bbb
2 ccc

In [15]:
print(range(cnt))
# 확인용은 다른 셀에서 해보고 나중에 프로그램이 완성되면 셀째로 지우면 깔끔함

range(0, 3)

In [19]:
a = ['aaa', 'bbb', 'ccc']
b = [100, 200, 300]

for i in range(len(a)):
    print(i, 'a=', a[i], 'b=', b[i])

0 a= aaa b= 100
1 a= bbb b= 200
2 a= ccc b= 300

In [20]:
a = 3
print(a, id(a))

3 2402825601328

In [21]:
a = 5
print(a, id(a))

5 2402825601392

In [30]:
b = [1,2,3]
print(b, id(b))

b[0] = 100
print(b, id(b))

c = b
print(c, id(c))
c[0] = 10
print(b, c)

d = b.copy()
print(d, id(d))

[1, 2, 3] 2402905701120
[100, 2, 3] 2402905701120
[100, 2, 3] 2402905701120
[10, 2, 3] [10, 2, 3]
[10, 2, 3] 2402905945216

In [31]:
print(b)

[10, 2, 3]

In [32]:
print(d)

[10, 2, 3]

In [33]:
d[0] = 10000
print(b, d)

[10, 2, 3] [10000, 2, 3]

In [35]:
a = {
    '이름': '홍길동',
    '나이': 15,
    '점수': 100
}

for i in a:
    print(i, a[i])

이름 홍길동
나이 15
점수 100

In [42]:
ls = ['aaa', 'bbb', 'ccc', 'ddd']

n = 0
for i in ls:
    m = 0
    print(n, i)
    n = n+1
print()

n=0
for i in ls:
    n = n+1
    print(n, i)
print()

print(n)
print(m)
# m 이것도 되네

0 aaa
1 bbb
2 ccc
3 ddd

1 aaa
2 bbb
3 ccc
4 ddd

4
0

In [45]:
ls = ['aaa', 'bbb', 'ccc', 'ddd']

for i in enumerate(ls):
    print(i)

for idx,i in enumerate(ls):
    print(idx, i)

(0, 'aaa')
(1, 'bbb')
(2, 'ccc')
(3, 'ddd')
0 aaa
1 bbb
2 ccc
3 ddd

In [48]:
a = {
    '이름': '홍길동',
    '나이': 15,
    '점수': 100
}

for key,v in a.items():
    print(key, v)

이름 홍길동
나이 15
점수 100

In [49]:
# 리스트
# for 변수1, 변수2 in enumerate(리스트):

# 딕셔너리
# for 변수1, 변수2 in 딕셔너리.items():

In [55]:
a = ['aaa', 'bbb', 'ccc']
b = [100, 200, 300]
k = zip(a, b)
# zip() 는 a, b의 length가 같아야 됨

print(list(k))

[('aaa', 100), ('bbb', 200), ('ccc', 300)]

In [58]:
a = ['aaa', 'bbb', 'ccc']
b = [100, 200, 300]

for i,j in zip(a,b):
    print(i, j)
print()
    
for i,j in zip(b,a):
    print(i, j)

aaa 100
bbb 200
ccc 300

100 aaa
200 bbb
300 ccc