In [1]:
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

사과
귤
수박

In [2]:
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")

#####
#####
#####

In [5]:
for 변수 in ["A", "B", "C"]:
  print(변수)
print()

변수 = 'A'
print(변수)
변수 = 'B'
print(변수)
변수 = 'C'
print(변수)

A
B
C

A
B
C

In [6]:
for 변수 in ["A", "B", "C"]:
  print("출력:", 변수)
print()

변수 = 'A'
print("출력:", 변수)
변수 = 'B'
print("출력:", 변수)
변수 = 'C'
print("출력:", 변수)

출력: A
출력: B
출력: C

출력: A
출력: B
출력: C

In [7]:
for 변수 in ["A", "B", "C"]:
  b = 변수.lower()
  print("변환:", b)
print()

변수 = 'A'
변수 = 변수.lower()
print("출력:", 변수)
변수 = 'B'
변수 = 변수.lower()
print("출력:", 변수)
변수 = 'C'
변수 = 변수.lower()
print("출력:", 변수)

변환: a
변환: b
변환: c

출력: a
출력: b
출력: c

In [8]:
변수 = 10
print(변수)
변수 = 20
print(변수)
변수 = 30
print(변수)
print()

for 변수 in range(10,31,10):
    print(변수)

10
20
30

10
20
30

In [9]:
print(10)
print(20)
print(30)
print()

for i in [10,20,30]:
    print(i)

10
20
30

10
20
30

In [10]:
print(10)
print("-------")
print(20)
print("-------")
print(30)
print("-------")
print()

for i in [10,20,30]:
    print(i)
    print("-------")

10
-------
20
-------
30
-------

10
-------
20
-------
30
-------

In [11]:
print("++++")
print(10)
print(20)
print(30)
print()

print('++++')
for i in [10,20,30]:
    print(i)

++++
10
20
30

++++
10
20
30

In [12]:
print("-------")
print("-------")
print("-------")
print("-------")
print()

for i in range(4):
    print("-------")

-------
-------
-------
-------

-------
-------
-------
-------

In [13]:
리스트 = [100, 200, 300]
부과세 = 10

for i in 리스트:
    print(i+부과세)

110
210
310

In [14]:
리스트 = ["김밥", "라면", "튀김"]

for i in 리스트:
    print(f'오늘의 메뉴: {i}')

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [15]:
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]

for i in 리스트:
    print(len(i))

6
4
4

In [19]:
리스트 = ['dog', 'cat', 'parrot']

for i in 리스트:
    print(i, len(i))

dog 3
cat 3
parrot 6

In [20]:
리스트 = ['dog', 'cat', 'parrot']

for i in 리스트:
    print(i[0])

d
c
p

In [21]:
리스트 = [1, 2, 3]

for i in 리스트:
    print(f'3 x {i}')

3 x 1
3 x 2
3 x 3

In [23]:
리스트 = [1, 2, 3]

for i in 리스트:
    print(f'3 x {i} = {3*i}')

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [26]:
리스트 = ["가", "나", "다", "라"]

for i in 리스트:
    if i=='가':
        continue
    else:
        print(i)
print()
        
#-------------------------
for i in 리스트[1:]:
    print(i)

나
다
라

나
다
라

In [27]:
리스트 = ["가", "나", "다", "라"]

for i in 리스트[0::2]:
    print(i)

가
다

In [28]:
리스트 = ["가", "나", "다", "라"]

for i in 리스트[::-1]:
    print(i)

라
다
나
가

In [30]:
리스트 = [3, -20, -3, 44]

for i in 리스트:
    if i<0:
        print(i)

-20
-3

In [31]:
리스트 = [3, 100, 23, 44]

for i in 리스트:
    if i%3 == 0:
        print(i)

3

In [32]:
리스트 = [13, 21, 12, 14, 30, 18]

for i in 리스트:
    if i<20 and i%3 == 0:
        print(i)

12
18

In [33]:
리스트 = ["I", "study", "python", "language", "!"]

for i in 리스트:
    if len(i) >= 3:
        print(i)

study
python
language

In [34]:
리스트 = ["A", "b", "c", "D"]

for i in 리스트:
    if i.isupper():
        print(i)

A
D

In [36]:
리스트 = ["A", "b", "c", "D"]

for i in 리스트:
    if i.islower():
        print(i)

b
c

In [43]:
리스트 = ['dog', 'cat', 'parrot']

for i in 리스트:
    i = i[0].upper() + i[1:]
    print(i)

Dog
Cat
Parrot

In [44]:
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']

for i in 리스트:
    print(i.split('.')[0])

hello
ex01
intro

In [45]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

for i in 리스트:
    if i.split('.')[1] == 'h':
        print(i)

intra.h
define.h

In [47]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

for i in 리스트:
    if i.split('.')[1] == 'h' or i.split('.')[1] == 'c':
        print(i)
print()        

#-------------------------------------------------
for i in 리스트:
    if '.h' in i or '.c' in i:
        print(i)

intra.h
intra.c
define.h

intra.h
intra.c
define.h

In [49]:
for i in range(100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [50]:
for i in range(2002, 2051, 4):
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [53]:
for i in range(3, 31, 3):
    print(i)

3
6
9
12
15
18
21
24
27
30

In [54]:
for i in range(99, -1, -1):
    print(i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [59]:
for i in range(0,10):
    print(0.1*i)
print()

for i in range(10):
    print(i/10)

0.0
0.1
0.2
0.30000000000000004
0.4
0.5
0.6000000000000001
0.7000000000000001
0.8
0.9

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [60]:
for i in range(1,10):
    print(f'3x{i} = {3*i}')

3x1 = 3
3x2 = 6
3x3 = 9
3x4 = 12
3x5 = 15
3x6 = 18
3x7 = 21
3x8 = 24
3x9 = 27

In [61]:
for i in range(1,10):
    if i%2 == 1:
        print(f'3x{i} = {3*i}')

3x1 = 3
3x3 = 9
3x5 = 15
3x7 = 21
3x9 = 27

In [62]:
sum=0
for i in range(1,11):
    sum = sum + i
print('합 :', sum)

합 : 55

In [63]:
sum=0
for i in range(1,11):
    if i%2 == 1:
        sum = sum + i
print('합:', sum)

합: 25

In [65]:
res=1
for i in range(1,11):
    res = res * i
print(res)

3628800

In [66]:
price_list = [32100, 32150, 32000, 32500]

for i in range(len(price_list)):
    print(price_list[i])

32100
32150
32000
32500

In [67]:
price_list = [32100, 32150, 32000, 32500]

for i in range(len(price_list)):
    print(i, price_list[i])

0 32100
1 32150
2 32000
3 32500

In [69]:
price_list = [32100, 32150, 32000, 32500]

for i in range(len(price_list)):
    print(len(price_list)-i-1, price_list[i])

3 32100
2 32150
1 32000
0 32500

In [71]:
price_list = [32100, 32150, 32000, 32500]

for i in range(3):
    print(100+i*10, price_list[i+1])
print()

#-------------------------------------
for i in range(1,4):
    print(90+10*i, price_list[i])

100 32150
110 32000
120 32500

100 32150
110 32000
120 32500

In [72]:
my_list = ["가", "나", "다", "라"]

for i in range(3):
    print(my_list[i], my_list[i+1])

가 나
나 다
다 라

In [73]:
my_list = ["가", "나", "다", "라", "마"]

for i in range(3):
    print(my_list[i], my_list[i+1], my_list[i+2])

가 나 다
나 다 라
다 라 마

In [75]:
my_list = ["가", "나", "다", "라"]

for i in range(3, 0, -1):
    print(my_list[i], my_list[i-1])
print()

#--------------------------------
for i in range(len(my_list)-1):
    print(my_list[len(my_list)-1-i], my_list[len(my_list)-2-i])

라 다
다 나
나 가

라 다
다 나
나 가

In [77]:
my_list = [100, 200, 400, 800]

for i in range(len(my_list)-1):
    print(my_list[i+1] - my_list[i])

100
200
400

In [78]:
my_list = [100, 200, 400, 800, 1000, 1300]

for i in range(len(my_list)-2):
    print((my_list[i] + my_list[i+1] + my_list[i+2]) / 3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [80]:
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
volatility = []

for i in range(len(low_prices)):
    volatility.append(high_prices[i] - low_prices[i])
print(volatility)

[50, 100, 30, 80, 0]

In [81]:
apart = [
    ['101호', '102호'],
    ['201호', '202호'],
    ['301호', '302호']
]

print(apart)

[['101호', '102호'], ['201호', '202호'], ['301호', '302호']]

In [82]:
stock = [
    [100, 200, 300],
    [80, 210, 330]
]

print(stock)

[[100, 200, 300], [80, 210, 330]]

In [83]:
stock = {
    '시가': [100, 200, 300],
    '종가': [80, 210, 330]
}

print(stock)

{'시가': [100, 200, 300], '종가': [80, 210, 330]}

In [85]:
stock = {
    '10/10': [80, 110, 70, 90],
    '10/11': [210, 230, 190, 200]
}

print(stock)

{'10/10': [80, 110, 70, 90], '10/11': [210, 230, 190, 200]}

In [88]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in range(len(apart)):
    for j in range(len(apart[i])):
        print(apart[i][j], '호')

101 호
102 호
201 호
202 호
301 호
302 호

In [90]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in range(len(apart)):
    for j in range(len(apart[i])):
        print(apart[len(apart)-i-1][j], '호')

301 호
302 호
201 호
202 호
101 호
102 호

In [92]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in range(len(apart)):
    for j in range(len(apart[i])):
        print(apart[len(apart)-i-1][len(apart[i])-j-1], '호')

302 호
301 호
202 호
201 호
102 호
101 호

In [93]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in range(len(apart)):
    for j in range(len(apart[i])):
        print(apart[i][j], '호')
        print('-----')

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [94]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in range(len(apart)):
    for j in range(len(apart[i])):
        print(apart[i][j], '호')
    print('-----')

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [95]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in range(len(apart)):
    for j in range(len(apart[i])):
        print(apart[i][j], '호')
print('-----')

101 호
102 호
201 호
202 호
301 호
302 호
-----

In [105]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

수수료 = 0.014 / 100

for i in range(len(data)):
    for j in range(len(data[i])):
        print(data[i][j] + data[i][j] * 수수료)

2000.28
3050.427
2050.287
1980.2772
7501.05
2050.287
2050.287
1980.2772
15452.163
15052.107
15552.177
14902.086

In [104]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

수수료 = 0.014 / 100

for i in range(len(data)):
    for j in range(len(data[i])):
        print(data[i][j] + data[i][j] * 수수료)
    print('----')

2000.28
3050.427
2050.287
1980.2772
----
7501.05
2050.287
2050.287
1980.2772
----
15452.163
15052.107
15552.177
14902.086
----

In [107]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

수수료 = 0.014 / 100
result = []

for i in range(len(data)):
    for j in range(len(data[i])):
        result.append(data[i][j] + data[i][j]*수수료)
print(result)

[2000.28, 3050.427, 2050.287, 1980.2772, 7501.05, 2050.287, 2050.287, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086]

In [113]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

수수료 = 0.014 / 100
result = []
tmp = []

for i in range(len(data)):
    for j in range(len(data[i])):
        tmp.append(data[i][j] + data[i][j]*수수료)
    result.append(tmp)
    tmp = []
print(result)

[[2000.28, 3050.427, 2050.287, 1980.2772], [7501.05, 2050.287, 2050.287, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086]]

In [114]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:]:
    print(i[3])

100
190
310

In [115]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:]:
    if i[3] > 150:
        print(i[3])

190
310

In [116]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:]:
    if i[3] >= i[0]:
        print(i[3])

100
310

In [117]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
volatility = []

for i in ohlc[1:]:
    volatility.append(i[1] - i[2])
print(volatility)

[40, 30, 10]

In [120]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
volatility = []

for i in ohlc[1:]:
    if i[3] > i[0]:
        print(i[1] - i[2])

10

In [121]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
수익금 = []

for i in ohlc[1:]:
    수익금.append(i[3] - i[0])
print(수익금)

[0, -10, 10]