### ▶Part1. 토큰화
- 문장에서 토큰으로 나눌 구분자를 이용하여 단어 분리

In [10]:
import numpy as np
txt=['파이썬 차트 파이썬 머신러닝',
      '차트 파이썬 R 차트',
       'R 분석 시각화'
      ]

In [11]:
# 빈칸 단위로 나누기
txtList=[i.split(' ') for i in txt]
txtList

[['파이썬', '차트', '파이썬', '머신러닝'], ['차트', '파이썬', 'R', '차트'], ['R', '분석', '시각화']]

### ▶Part2. 단어필드제작- 단어 unique
- 중복단어를 제거하여 고유값으로 필드를 제작
- 결과-> ['R', '머신러닝', '분석', '시각화', '차트', '파이썬']

In [12]:
wordList=[]
nouns=sorted(list(set([n for i in txtList for n in i])))

### ▶Part3. TF

In [13]:
import pandas as pd
tdm=[]
for i in txtList:
    tdm.append([])
    for j in nouns:
        tdm[-1].append(i.count(j))
tf_=pd.DataFrame(tdm, columns=nouns)

In [14]:
tf_

   R  머신러닝  분석  시각화  차트  파이썬
0  0     1   0    0   1    2
1  1     0   0    0   2    1
2  1     0   1    1   0    0

### ▶Part4. IDF

In [15]:
import numpy as np

D=len(tf_) #총문서수
df=tf_.astype(bool).sum()
idf=D/df

In [16]:
idf

R       1.5
머신러닝    3.0
분석      3.0
시각화     3.0
차트      1.5
파이썬     1.5
dtype: float64

### ▶ Part4. TFIDF

In [17]:
tfidf_=tf_*idf
tfidf_

     R  머신러닝   분석  시각화   차트  파이썬
0  0.0   3.0  0.0  0.0  1.5  3.0
1  1.5   0.0  0.0  0.0  3.0  1.5
2  1.5   0.0  3.0  3.0  0.0  0.0

#  ** SKlearn 모듈 활용
### 1. TF

In [18]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer()
tdm=cv.fit_transform(txt)

# 단어 목록 확인
feature=cv.get_feature_names_out()
#TF Matrix확인
tf_=pd.DataFrame(tdm.toarray(), columns=feature)
tf_

   머신러닝  분석  시각화  차트  파이썬
0     1   0    0   1    2
1     0   0    0   2    1
2     0   1    1   0    0

### 2. TF_IDF

In [19]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_vectorizer=TfidfVectorizer()
tfidf_matrix=tfidf_vectorizer.fit_transform(txt)

#단어집합
tfidf_feature=tfidf_vectorizer.get_feature_names_out()

#Tf_IDF
tfidf_=pd.DataFrame(tfidf_matrix.toarray(),columns=tfidf_feature)
tfidf_

      머신러닝        분석       시각화        차트       파이썬
0  0.50689  0.000000  0.000000  0.385503  0.771006
1  0.00000  0.000000  0.000000  0.894427  0.447214
2  0.00000  0.707107  0.707107  0.000000  0.000000