In [1]:
import numpy as np
txt=['파이썬 차트 파이썬 머신러닝',
    '차트 파이썬 R 차트',
    'R 분석 시각화'
    ]

In [3]:
txtList = [i.split() for i in txt]
txtList

[['파이썬', '차트', '파이썬', '머신러닝'], ['차트', '파이썬', 'R', '차트'], ['R', '분석', '시각화']]

In [4]:
[n for i in txtList for n in i]

['파이썬', '차트', '파이썬', '머신러닝', '차트', '파이썬', 'R', '차트', 'R', '분석', '시각화']

In [8]:
nouns = sorted(list(set([n for i in txtList for n in i])))
nouns

['R', '머신러닝', '분석', '시각화', '차트', '파이썬']

## TF

In [9]:
import pandas as pd

In [10]:
dtm = []

In [12]:
for i in txtList:
    dtm.append([])
    for j in nouns:
        dtm[-1].append(i.count(j))

In [13]:
dtm

[[0, 1, 0, 0, 1, 2], [1, 0, 0, 0, 2, 1], [1, 0, 1, 1, 0, 0]]

In [14]:
tf_ = pd.DataFrame(dtm, columns=nouns)
tf_

   R  머신러닝  분석  시각화  차트  파이썬
0  0     1   0    0   1    2
1  1     0   0    0   2    1
2  1     0   1    1   0    0

## IDF

In [15]:
import numpy as np

In [18]:
D = len(tf_) # 총 문서 수

In [21]:
tf_.astype(bool)

       R   머신러닝     분석    시각화     차트    파이썬
0  False   True  False  False   True   True
1   True  False  False  False   True   True
2   True  False   True   True  False  False

In [22]:
tf_.astype(bool).sum()

R       2
머신러닝    1
분석      1
시각화     1
차트      2
파이썬     2
dtype: int64

In [23]:
df = tf_.astype(bool).sum()
idf = D / df

In [24]:
idf

R       1.5
머신러닝    3.0
분석      3.0
시각화     3.0
차트      1.5
파이썬     1.5
dtype: float64

## TFIDF

In [25]:
tf_

   R  머신러닝  분석  시각화  차트  파이썬
0  0     1   0    0   1    2
1  1     0   0    0   2    1
2  1     0   1    1   0    0

In [26]:
idf

R       1.5
머신러닝    3.0
분석      3.0
시각화     3.0
차트      1.5
파이썬     1.5
dtype: float64

In [28]:
tfidf_ = tf_ * idf
tfidf_

     R  머신러닝   분석  시각화   차트  파이썬
0  0.0   3.0  0.0  0.0  1.5  3.0
1  1.5   0.0  0.0  0.0  3.0  1.5
2  1.5   0.0  3.0  3.0  0.0  0.0

## Sklearn 활용
## TF

In [40]:
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd

In [31]:
txt

['파이썬 차트 파이썬 머신러닝', '차트 파이썬 R 차트', 'R 분석 시각화']

In [41]:
cv = CountVectorizer()
dtm = cv.fit_transform(txt)
# 단어집합
print(cv.get_feature_names_out())
feature = cv.get_feature_names_out()
dtm.toarray()
# 사이킷런에서 글자 1개짜리는 자동으로 제거하고 count 해줌

['머신러닝' '분석' '시각화' '차트' '파이썬']

array([[1, 0, 0, 1, 2],
       [0, 0, 0, 2, 1],
       [0, 1, 1, 0, 0]], dtype=int64)

In [42]:
s_tf = pd.DataFrame(dtm.toarray(), columns=feature)
s_tf

   머신러닝  분석  시각화  차트  파이썬
0     1   0    0   1    2
1     0   0    0   2    1
2     0   1    1   0    0

In [43]:
tf_

   R  머신러닝  분석  시각화  차트  파이썬
0  0     1   0    0   1    2
1  1     0   0    0   2    1
2  1     0   1    1   0    0

## tf_idf

In [44]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [46]:
txt

['파이썬 차트 파이썬 머신러닝', '차트 파이썬 R 차트', 'R 분석 시각화']

In [47]:
tfidf_vectorizer = TfidfVectorizer()
tfidf_matrix = tfidf_vectorizer.fit_transform(txt)
# 단어집합
tfidf_feature = tfidf_vectorizer.get_feature_names_out()
# tf_idf
tfidf = pd.DataFrame(tfidf_matrix.toarray(), columns=tfidf_feature)
tfidf

      머신러닝        분석       시각화        차트       파이썬
0  0.50689  0.000000  0.000000  0.385503  0.771006
1  0.00000  0.000000  0.000000  0.894427  0.447214
2  0.00000  0.707107  0.707107  0.000000  0.000000