In [13]:
import subway_p as sb
import pandas as pd
import glob

In [7]:
dir(sb)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'bs',
 'connect',
 'pd',
 'requests',
 'subway_p',
 'warnings']

In [8]:
sb.subway_p('20220730')

       use_dt line_num sub_sta_nm ride_pasgr_num alight_pasgr_num   work_dt
0    20220730      1호선        서울역          35541            36777  20220802
1    20220730      1호선         시청          11608            11825  20220802
2    20220730      1호선         종각          18938            18665  20220802
3    20220730      1호선       종로3가          19952            19222  20220802
4    20220730      1호선       종로5가          16778            16854  20220802
..        ...      ...        ...            ...              ...       ...
600  20220730      중앙선         오빈            289              306  20220802
601  20220730      중앙선         양평           2700             3058  20220802
602  20220730      중앙선         원덕            402              435  20220802
603  20220730      중앙선         용문           4381             4938  20220802
604  20220730      중앙선         지평             74              103  20220802

[605 rows x 6 columns]

In [11]:
# 문제1 20220601 ~ 20220630 => 지하철 폴더 만들어서 일자별로 저장

for i in range(20220601, 20220631):
    df = sb.subway_p(i)
    df.to_csv(f'./지하철/{i}.csv', encoding='euc-kr')

In [32]:
# 문제2 지하철 폴더 안의 모든 파일을 합치세요.

output = glob.glob('./지하철/*.csv')

res = []
for file in output:
    csv = pd.read_csv(file, encoding='euc-kr')
    df = pd.DataFrame(csv)
    res.append(df)
    # display(df)

df_res = pd.concat(res)
df_res

,Unnamed: 0,use_dt,line_num,sub_sta_nm,ride_pasgr_num,alight_pasgr_num,work_dt
0,0,20220601,1호선,서울역,26040,25835,20220604
1,1,20220601,1호선,시청,10235,10086,20220604
2,2,20220601,1호선,종각,17948,15679,20220604
3,3,20220601,1호선,종로3가,21148,18271,20220604
4,4,20220601,1호선,종로5가,19108,18748,20220604
...,...,...,...,...,...,...,...
601,601,20220630,중앙선,오빈,289,268,20220703
602,602,20220630,중앙선,양평,2404,2364,20220703
603,603,20220630,중앙선,원덕,301,299,20220703
604,604,20220630,중앙선,용문,1694,1719,20220703
605,605,20220630,중앙선,지평,55,77,20220703

In [ ]:
# 문제3 2021년 모든 지하철 승하차 인원을 월별로 저장하고 싶어요.
# 파일명: 2021_01.csv
# 제한: 20210101 ~ 20210331 까지로 제한

file_names=glob('./지하철/*.csv')
res = []

for name in file_names:
    res.append(pd.read_csv(name))
    
df_res=pd.concat(res)
display(df_res)

In [33]:
pd.date_range('2022-02-20', '2022-03-10')

DatetimeIndex(['2022-02-20', '2022-02-21', '2022-02-22', '2022-02-23',
               '2022-02-24', '2022-02-25', '2022-02-26', '2022-02-27',
               '2022-02-28', '2022-03-01', '2022-03-02', '2022-03-03',
               '2022-03-04', '2022-03-05', '2022-03-06', '2022-03-07',
               '2022-03-08', '2022-03-09', '2022-03-10'],
              dtype='datetime64[ns]', freq='D')

In [34]:
pd.date_range('2022-02-20', '2022-03-10').astype('str')

Index(['2022-02-20', '2022-02-21', '2022-02-22', '2022-02-23', '2022-02-24',
       '2022-02-25', '2022-02-26', '2022-02-27', '2022-02-28', '2022-03-01',
       '2022-03-02', '2022-03-03', '2022-03-04', '2022-03-05', '2022-03-06',
       '2022-03-07', '2022-03-08', '2022-03-09', '2022-03-10'],
      dtype='object')

In [35]:
pd.date_range('2022-02-20', '2022-03-10').astype('str')[0]

'2022-02-20'

In [36]:
pd.date_range('2021-01-01', '2021-03-31').astype('str')

Index(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04', '2021-01-05',
       '2021-01-06', '2021-01-07', '2021-01-08', '2021-01-09', '2021-01-10',
       '2021-01-11', '2021-01-12', '2021-01-13', '2021-01-14', '2021-01-15',
       '2021-01-16', '2021-01-17', '2021-01-18', '2021-01-19', '2021-01-20',
       '2021-01-21', '2021-01-22', '2021-01-23', '2021-01-24', '2021-01-25',
       '2021-01-26', '2021-01-27', '2021-01-28', '2021-01-29', '2021-01-30',
       '2021-01-31', '2021-02-01', '2021-02-02', '2021-02-03', '2021-02-04',
       '2021-02-05', '2021-02-06', '2021-02-07', '2021-02-08', '2021-02-09',
       '2021-02-10', '2021-02-11', '2021-02-12', '2021-02-13', '2021-02-14',
       '2021-02-15', '2021-02-16', '2021-02-17', '2021-02-18', '2021-02-19',
       '2021-02-20', '2021-02-21', '2021-02-22', '2021-02-23', '2021-02-24',
       '2021-02-25', '2021-02-26', '2021-02-27', '2021-02-28', '2021-03-01',
       '2021-03-02', '2021-03-03', '2021-03-04', '2021-03-05', '2021-03-06',
       '2021-03-07', '2021-03-08', '2021-03-09', '2021-03-10', '2021-03-11',
       '2021-03-12', '2021-03-13', '2021-03-14', '2021-03-15', '2021-03-16',
       '2021-03-17', '2021-03-18', '2021-03-19', '2021-03-20', '2021-03-21',
       '2021-03-22', '2021-03-23', '2021-03-24', '2021-03-25', '2021-03-26',
       '2021-03-27', '2021-03-28', '2021-03-29', '2021-03-30', '2021-03-31'],
      dtype='object')

In [ ]:
1. 년도는 같은 년도에서 월만 바뀌는걸로 가정
2. 함수 사용해서 월별 시작일 끝일 알 수 있고
3. 월별로 for문 돌려서 .csv 파일 만들기

이 순서로 가면 되겠네요
그러면

In [79]:
# import calendar
# from datetime import datetime

# def getMonthRage(year, month):
#     date = datetime(year=year, month=month, day=1).date()
#     monthrange = calendar.monthrange(date.year, date.month)
#     # print('확인:', monthrange)
#     first_day = calendar.monthrange(date.year, date.month)[0]
#     last_day = calendar.monthrange(date.year, date.month)[1]
#     print(f"date: {date}")
#     print(f"month range: {monthrange}")
#     print(f"first day: {first_day}")
#     print(f"last day: {last_day}")
#     return monthrange

In [85]:
import calendar
from datetime import datetime

def getMonthRage(year, month):
    date = datetime(year=year, month=month, day=1).date()
    monthrange = calendar.monthrange(date.year, date.month)
    # print('확인:', monthrange)
    first_day = calendar.monthrange(date.year, date.month)[0]
    last_day = calendar.monthrange(date.year, date.month)[1]
#     print(f"date: {date}")
#     print(f"month range: {monthrange}")
#     print(f"first day: {first_day}")
#     print(f"last day: {last_day}")
    return last_day

In [58]:
# today = datetime.today().date()
day_str = '2021-01-01'
today = datetime.strptime(day_str, '%Y-%m-%d')

# print("today:", today.month)
# today: 2022-08-03
# today.year: today.year
# today.month: 8

month_range = getMonthRage(today.year, today.month)
last_date = today.replace(day=month_range[1])
print(f"last date: {last_date}")

확인: (4, 31)
date: 2021-01-01
month range: (4, 31)
first day: 4
last day: 31
last date: 2021-01-31 00:00:00

In [59]:
dates = pd.date_range('2021-01-01', '2021-03-31').astype('str')
dates

Index(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04', '2021-01-05',
       '2021-01-06', '2021-01-07', '2021-01-08', '2021-01-09', '2021-01-10',
       '2021-01-11', '2021-01-12', '2021-01-13', '2021-01-14', '2021-01-15',
       '2021-01-16', '2021-01-17', '2021-01-18', '2021-01-19', '2021-01-20',
       '2021-01-21', '2021-01-22', '2021-01-23', '2021-01-24', '2021-01-25',
       '2021-01-26', '2021-01-27', '2021-01-28', '2021-01-29', '2021-01-30',
       '2021-01-31', '2021-02-01', '2021-02-02', '2021-02-03', '2021-02-04',
       '2021-02-05', '2021-02-06', '2021-02-07', '2021-02-08', '2021-02-09',
       '2021-02-10', '2021-02-11', '2021-02-12', '2021-02-13', '2021-02-14',
       '2021-02-15', '2021-02-16', '2021-02-17', '2021-02-18', '2021-02-19',
       '2021-02-20', '2021-02-21', '2021-02-22', '2021-02-23', '2021-02-24',
       '2021-02-25', '2021-02-26', '2021-02-27', '2021-02-28', '2021-03-01',
       '2021-03-02', '2021-03-03', '2021-03-04', '2021-03-05', '2021-03-06',
       '2021-03-07', '2021-03-08', '2021-03-09', '2021-03-10', '2021-03-11',
       '2021-03-12', '2021-03-13', '2021-03-14', '2021-03-15', '2021-03-16',
       '2021-03-17', '2021-03-18', '2021-03-19', '2021-03-20', '2021-03-21',
       '2021-03-22', '2021-03-23', '2021-03-24', '2021-03-25', '2021-03-26',
       '2021-03-27', '2021-03-28', '2021-03-29', '2021-03-30', '2021-03-31'],
      dtype='object')

In [60]:
dates[0]

'2021-01-01'

In [62]:
dates[len(dates)-1]

'2021-03-31'

In [76]:
start_month = dates[0][5:7]
end_month = dates[len(dates)-1][5:7]
start_day = dates[0][-2:]
end_day = dates[len(dates)-1][-2:]

print(start_month)
print(end_month)
print(start_day)
print(end_day)

if '01' < '04':
    print('y')
if '05' > '01':
    print('y')
if '05' < '01':
    print('n')

if start_day < '05':
    print('y')
if start_day > '05':
    print('n')

01
03
01
31
y
y
y

In [80]:
today = datetime.strptime(dates[0], '%Y-%m-%d')
month_range = getMonthRage(today.year, today.month)
last_date = today.replace(day=month_range[1])
print(f"last date: {last_date}")

date: 2021-01-01
month range: (4, 31)
first day: 4
last day: 31
last date: 2021-01-31 00:00:00

In [92]:
year = '2021'
start_YMD = '2021-01-01'
end_YMD = '2021-03-31'
dates = pd.date_range(start_YMD, end_YMD).astype('str')

today = datetime.strptime(dates[0], '%Y-%m-%d')
last_day = getMonthRage(today.year, today.month)
# last_date = today.replace(day=month_range[1])
# print(f"last date: {last_date}")
# print(last_day)

start_month = int(dates[0][5:7])
end_month = int(dates[len(dates)-1][5:7])
start_day = dates[0][-2:]
end_day = dates[len(dates)-1][-2:]
# print(start_month)
# print(end_month)

for month in range(start_month, end_month+1):
    date = year + '-' + str(month) + '-01'
    today = datetime.strptime(date, '%Y-%m-%d')
    last_day = getMonthRage(today.year, today.month)
#     print(last_day)

    monthly_list = []
    if start_day > '01':
        



# sb.subway_p('20220730')





# file_names=glob('./지하철/*.csv')
# res = []

# for name in file_names:
#     res.append(pd.read_csv(name))
    
# df_res=pd.concat(res)
# display(df_res)

31
28
31

In [93]:
start_YMD = '2021-01-01'
end_YMD = '2021-03-31'
dates = pd.date_range(start_YMD, end_YMD).astype('str')

start_month = int(dates[0][5:7])
end_month = int(dates[len(dates)-1][5:7])

if end_month == start_month:
    start_YMD ~ end_YMD 까지 해당 월 파일 1개 만들기
elif end_month - start_month == 1:
    시작 월일 ~ 시작 월일 1개 만들기 (5~30일)
    끝 월일 ~ 끝 월일 1개 만들기 (1~17일)
else:
    시작 월일 ~ 시작 월일 1개 만들기 (5~30일)
    중간 월일 파일들 만들기 (1~30일)
    끝 월일 ~ 끝 월일 1개 만들기 (1~17일)

Index(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04', '2021-01-05',
       '2021-01-06', '2021-01-07', '2021-01-08', '2021-01-09', '2021-01-10',
       '2021-01-11', '2021-01-12', '2021-01-13', '2021-01-14', '2021-01-15',
       '2021-01-16', '2021-01-17', '2021-01-18', '2021-01-19', '2021-01-20',
       '2021-01-21', '2021-01-22', '2021-01-23', '2021-01-24', '2021-01-25',
       '2021-01-26', '2021-01-27', '2021-01-28', '2021-01-29', '2021-01-30',
       '2021-01-31', '2021-02-01', '2021-02-02', '2021-02-03', '2021-02-04',
       '2021-02-05', '2021-02-06', '2021-02-07', '2021-02-08', '2021-02-09',
       '2021-02-10', '2021-02-11', '2021-02-12', '2021-02-13', '2021-02-14',
       '2021-02-15', '2021-02-16', '2021-02-17', '2021-02-18', '2021-02-19',
       '2021-02-20', '2021-02-21', '2021-02-22', '2021-02-23', '2021-02-24',
       '2021-02-25', '2021-02-26', '2021-02-27', '2021-02-28', '2021-03-01',
       '2021-03-02', '2021-03-03', '2021-03-04', '2021-03-05', '2021-03-06',
       '2021-03-07', '2021-03-08', '2021-03-09', '2021-03-10', '2021-03-11',
       '2021-03-12', '2021-03-13', '2021-03-14', '2021-03-15', '2021-03-16',
       '2021-03-17', '2021-03-18', '2021-03-19', '2021-03-20', '2021-03-21',
       '2021-03-22', '2021-03-23', '2021-03-24', '2021-03-25', '2021-03-26',
       '2021-03-27', '2021-03-28', '2021-03-29', '2021-03-30', '2021-03-31'],
      dtype='object')

In [110]:
del df_res

In [131]:
start_YMD = '2021-01-05'
end_YMD = '2021-03-16'
dates = pd.date_range(start_YMD, end_YMD).astype('str')

year = '2021'
start_month = int(dates[0][5:7])
end_month = int(dates[len(dates)-1][5:7])
start_YMD_int = int(start_YMD.replace('-', ''))
end_YMD_int = int(end_YMD.replace('-', ''))
# print(start_YMD_int)
# print(range(start_YMD_int, end_YMD_int+1))

if end_month == start_month:
    df_ls = []
    for date in range(start_YMD_int, end_YMD_int+1):
        df = sb.subway_p(date)
        df_ls.append(df)
        df_res = pd.concat(df_ls)
        df_res.to_csv(f'./지하철/{start_YMD[:7]}.csv', encoding='euc-kr')
elif end_month - start_month == 1:
    day = year + '-' + str(start_month) + '-01'
    today = datetime.strptime(day, '%Y-%m-%d')
    last_day = getMonthRage(today.year, today.month)
    tmp_day = str(start_YMD_int)[:-2] + str(last_day)
    df_ls = []
    for date in range(start_YMD_int, int(tmp_day)):
        df = sb.subway_p(date)
        df_ls.append(df)
        df_res = pd.concat(df_ls)
        df_res.to_csv(f'./지하철/{start_YMD[:7]}.csv', encoding='euc-kr')
    

    tmp_day = str(end_YMD_int)[:-2] + '01'
    df_ls = []
    for date in range(int(tmp_day), end_YMD_int):
        df = sb.subway_p(date)
        df_ls.append(df)
        df_res = pd.concat(df_ls)
        df_res.to_csv(f'./지하철/{end_YMD[:7]}.csv', encoding='euc-kr')
else:
    day = year + '-' + str(start_month) + '-01'
    today = datetime.strptime(day, '%Y-%m-%d')
    last_day = getMonthRage(today.year, today.month)
    tmp_day = str(start_YMD_int)[:-2] + str(last_day)
    df_ls = []
    for date in range(start_YMD_int, int(tmp_day)+1):
        df = sb.subway_p(date)
        df_ls.append(df)
        df_res = pd.concat(df_ls)
        df_res.to_csv(f'./지하철/{start_YMD[:7]}.csv', encoding='euc-kr')
    
    for month in range(start_month+1, end_month):
        day = year + '-' + str(month) + '-01'
        today = datetime.strptime(day, '%Y-%m-%d')
        last_day = getMonthRage(today.year, today.month)
        
        tmp_start_day = year + f'{month:0>2}' + '01'
        tmp_end_day = year + f'{month:0>2}' + str(last_day)
        df_ls = []
        for date in range(int(tmp_start_day), int(tmp_end_day)+1):
            df = sb.subway_p(date)
            df_ls.append(df)
            df_res = pd.concat(df_ls)
            df_res.to_csv(f"./지하철/{year}-{month:0>2}.csv", encoding='euc-kr')
    
    tmp_day = str(end_YMD_int)[:-2] + '01'
    df_ls = []
    for date in range(int(tmp_day), end_YMD_int+1):
        df = sb.subway_p(date)
        df_ls.append(df)
        df_res = pd.concat(df_ls)
        df_res.to_csv(f'./지하철/{end_YMD[:7]}.csv', encoding='euc-kr')